.bg-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6rem;
  background-color: var(--grey-lighter);
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  border: 0.187612px solid var(--grey-border);
}
.link {
  position: relative;
  margin: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-btn {
  position: absolute;
  padding: 1.2rem;
  border-radius: 10rem;
  border: transparent;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: var(--white);
  background-color: var(--btn-color);
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  cursor: pointer;
}
.btn-image {
  max-width: 60%;
  aspect-ratio: 1.2 / 1;
}
